@import 'tailwindcss';
@import '@nuxt/ui';

@theme {
  --font-sans: 'IRAN', sans-serif;
  --color-green-50: #effdf5;
  --color-green-100: #d9fbe8;
  --color-green-200: #b3f5d1;
  --color-green-300: #75edae;
  --color-green-400: #00dc82;
  --color-green-500: #00c16a;
  --color-green-600: #00a155;
  --color-green-700: #007f45;
  --color-green-800: #016538;
  --color-green-900: #0a5331;
  --color-green-950: #052e16;
}

@font-face {
  font-family: IRAN;
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/IRAN.eot');
  src:
    url('/fonts/IRAN.eot?#iefix') format('embedded-opentype'),
    url('/fonts/IRAN.woff2') format('woff2'),
    url('/fonts/IRAN.woff') format('woff'),
    url('/fonts/IRAN.ttf') format('truetype');
}
/* similarly for other weights */

@font-face {
  font-family: IRAN;
  font-style: normal;
  font-weight: bold;
  src: url('/fonts/eot/IRANBold.eot');
  src:
    url('/fonts/IRANBold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/IRANBold.woff2') format('woff2'),
    url('/fonts/IRANBold.woff') format('woff'),
    url('/fonts/IRANBold.ttf') format('truetype');
}

@font-face {
  font-family: IRAN;
  font-style: normal;
  font-weight: 900;
  src: url('/fonts/IRANBlack.eot');
  src:
    url('/fonts/IRANBlack.eot?#iefix') format('embedded-opentype'),
    url('/fonts/IRANBlack.woff2') format('woff2'),
    url('/fonts/IRANBlack.woff') format('woff'),
    url('/fonts/IRANBlack.ttf') format('truetype');
}
@font-face {
  font-family: IRAN;
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/IRAN_SemiBold.eot');
  src:
    url('/fonts/IRAN_SemiBold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/IRAN_SemiBold.woff2') format('woff2'),
    url('/fonts/IRAN_SemiBold.woff') format('woff'),
    url('/fonts/IRAN_SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: IRAN;
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/IRAN.eot');
  src:
    url('/fonts/IRAN.eot?#iefix') format('embedded-opentype'),
    url('/fonts/IRAN.woff2') format('woff2'),
    url('/fonts/IRAN.woff') format('woff'),
    url('/fonts/IRAN.ttf') format('truetype');
}

body {
  font-family: IRAN !important;
  direction: rtl;
  /* background-color: #E2E2E2;
	margin: 0; */
}

h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea {
  font-family: IRAN !important;
}

/* Force IRAN font on all text elements (except SVG icons) */
*:not(svg):not(svg *) {
  font-family: IRAN, sans-serif !important;
}
